~/.bashrc
    PS1='${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u \[\033[01;36m\]\D{%c} \[\033[01;33m\]\w\n\[\033[01;31m\]\$\[\033[00m\] '
    alias python='python3'
    alias pip='pip3'
    alias ipython='ipython3'
    alias cdd='cd ..'

    alias pytf='source ~/tensorflow/bin/activate'
    alias pytfq='deactivate'
    

/etc/vim/vimrc
    "  --------------------------------------------------------------
    "  以下为jou增加的个人设置
    "  --------------------------------------------------------------
    set nocompatible " 关闭兼容模式，完全应用VIM所有扩展功能，不兼容Vi
    set helplang=cn " 帮助文档显示为中文
    set ruler " 显示光标位置的行号和列号
    set statusline=%F%m%r\ ASCII=\%b,HEX=\%B,%l,%c%V\ %L-%p%% " 设置命令行和状态栏
    set showfulltag " 在插入模式里，补全函数时显示函数参数
    set cc=80 " 第80列高亮
    set ai " 自动缩进
    set expandtab " 插入模式下将tab转换成空格
    set tabstop=4 " 设置tab键对应多少个空格
    set shiftwidth=4 " 设置<>或=缩进命令一次缩进为多少个空格
    set softtabstop=4 " 设置退格键可以删除一个tab对应的空格数
    set smarttab " 设置退格键可以删除一个shiftwidth宽度的空格
    set number " 设置默认在左侧显示每行的行号
    "  -------------------------------------------------------------


sublime设置

{
	"bold_folder_labels": true,
	"font_size": 11,
	"ignored_packages":
	[
		"Vintage"
	],
	"rulers":
	[
		80
	],
	"show_encoding": true,
	"tab_size": 2,
	"translate_tabs_to_spaces": true,
	"trim_trailing_white_space_on_save": true
}


sublime快捷键

[
  { "keys": ["alt+g"], "command": "toggle_setting", "args": {"setting": "line_numbers"} },
  { "keys": ["alt+f"], "command": "toggle_menu" },
  { "keys": ["alt+a"], "command": "toggle_side_bar" },
  { "keys": ["alt+d"], "command": "toggle_status_bar" },
  { "keys": ["alt+s"], "command": "toggle_tabs" },
  // { "keys": ["alt+z"], "command": "reindent" },
  { "keys": ["alt+h"], "command": "next_view" },
  { "keys": ["alt+l"], "command": "prev_view" },
]


git命令别名

[alias]
    la = log --oneline --decorate --all --graph
    st = status


.profile文件

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export XIM=fcitx
export XIMPROGRAM=fcitx
export XIM_SERVERS=fcitx


.inputrc

set completion-ignore-case on
